<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <bindings />
    <client />
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service name="A100_Service.Services.ASTI.Service_A100" behaviorConfiguration="Default">
        <endpoint address="/Users/" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="A100_Service.Services.UserService.IUserService" />
        <endpoint address="/Users/" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="A100_Service.Services.ASTI.ServicesInterfaces.IClients" />
        <endpoint address="/Projects" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="A100_Service.Services.ASTI.ServicesInterfaces.IProjects" />
        <!--<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="A100_Service.Services.ASTI.IService_A100" />-->
        <endpoint address="/City" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="A100_Service.Services.ASTI.ServicesInterfaces.ITypeCity" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Api" />
          </baseAddresses>
        </host>
      </service>
      </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">        
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="aspASTI" connectionString="data source=ASTI\ASTISQL;initial catalog=aspASTI;persist security info=True;user id=sa;password=gbhjcKJK4509;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ASTI" connectionString="data source=ASTI\ASTISQL;initial catalog=ASTI;user id=sa;password=gbhjcKJK4509;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>