<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--При развертывании проекта библиотеки службы необходимо добавить содержимое файла конфигурации в 
  файл app.config узла. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="aspASTI" connectionString="data source=ASTI\ASTISQL;initial catalog=aspASTI;persist security info=True;user id=sa;password=gbhjcKJK4509;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ASTI" connectionString="data source=ASTI\ASTISQL;initial catalog=ASTI;user id=sa;password=gbhjcKJK4509;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  <!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="A100_Service.Services.ASTI.Service_A100">
        <endpoint address="" binding="basicHttpBinding" contract="A100_Service.Services.ASTI.IService_A100">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/A100_Service.Services.ASTI/Service_A100/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->


  
  
  <!--При развертывании проекта библиотеки службы необходимо добавить содержимое файла конфигурации в 
  файл app.config узла. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="A100_Service.Services.ASTI.Service_A100">
      <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/A100_Service.Services.ASTI/Service_A100/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Если адрес не задан полностью, он является относительным к вышеуказанному базовому адресу -->
        <endpoint address="" binding="basicHttpBinding" contract="A100_Service.Services.ASTI.IService_A100">
          <!-- 
              После развертывания необходимо удалить следующий идентификационный элемент или заменить его, чтобы отражать 
              идентификатор, под которым работает служба.  Если он был удален, WCF выведет соответствующий идентификатор 
              автоматически.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. --> 
        <!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false".-->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>



</configuration>