@{
    ViewData["Title"] = "Авторизация";
}

    <environment names="Development">
        <link href="~/css/login.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    </environment>


@model A100_AspNetCore.ViewModels.LoginViewModel

<div class="panel">
    <div class="panel-header">
        <h6 class="text-center">Добро пожаловать</h6>
    </div>
    <div class="body-panel">
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">

            <div>
                <label for="Email"><i class="fa fa-user" style="width: 20px"></i></label>
                @*<label asp-for="Email"></label>*@
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label for="Email"><i class="fa fa-key" style="width: 20px"></i></label>
                @*<label asp-for="Password"></label>*@
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="text-center">
                <button class="btn my-button" type="submit">Войти</button>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</div>
