<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>



    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IASTI_Services" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="net.tcp://localhost:8300/" binding="netTcpBinding" bindingConfiguration="BasicHttpBinding_IASTI_Services" contract="ASTI_Service.IASTI_Services" name="BasicHttpBinding_IASTI_Services" />
          <!--<endpoint address="http://localhost:8733/Design_Time_Addresses/A100_Service.Services.ASTI/ASTI_Services/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASTI_Services"
                contract="ASTI_Service.IASTI_Services" name="BasicHttpBinding_IASTI_Services" />-->
        </client>
    </system.serviceModel>
</configuration>