<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>



  <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MyServiceBehavior">
            <serviceMetadata httpGetEnabled="true"    />
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="WebBehavior">
            <webHttp helpEnabled="true" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_IService_A100" />
          </basicHttpBinding>
          <netTcpBinding>
              <binding name="NetTcpBinding_IMyServiceAccount" closeTimeout="00:00:15"
                  openTimeout="00:00:15" receiveTimeout="00:00:15" sendTimeout="00:00:15">
                  <security mode="None" />
              </binding>
          </netTcpBinding>
      </bindings>
        <client>
              <endpoint address="http://localhost:8300" behaviorConfiguration="WebBehavior"
                    binding="webHttpBinding" contract="Service.IService_A100" />
              <!--<endpoint address="net.tcp://localhost:8300/" binding="netTcpBinding"
                    bindingConfiguration="NetTcpBinding_IService_A100" contract="NewService.IService_A100"
                    name="NetTcpBinding_IService_A100" />-->
        </client>
    </system.serviceModel>
  
  
</configuration>