@{
    ViewData["Title"] = "Home Page";
}

@model  IEnumerable<A100_AspNetCore.Models.A100_Models.DataBase.ElementsOfType>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <tr><td>Айди</td><td>Город</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.ElementKey</td><td>@item.OrentationIndex</td></tr>
    }
</table>