@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<A100_AspNetCore.Models.A100_Models.DataBase.ElementsOfType>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
@*<table class="table">
    <tr><td>Айди</td><td>Город</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.ElementKey</td><td>@item.OrentationIndex</td></tr>
    }
</table>*@